html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #131313;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
pre {
  margin: 0;
  white-space: pre-wrap;
}
.main,
.main-thumbnails,
.main-basket {
  flex: 1 1 auto;
  padding: 32px 0;
  background: radial-gradient(#878b91 3px, transparent 4px), radial-gradient(#d5c6bb 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #e0e0e0 75px, #e0e0e0 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #e0e0e0 76px, #e0e0e0 77px, transparent 78px, transparent 109px), #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
.footer {
  font-family: 'Oleo Script', cursive;
  background-color: #131313;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
}
.container,
.container-test,
.container-header,
.container-nav,
.container-pages,
.container-thumb,
.container-basket,
.main-login {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
}
.container-test {
  background-color: #fff;
  min-height: 450px;
  border: 1px solid #ccc;
}
.header {
  background-color: #131313;
  color: #fff;
}
.container-header {
  display: flex;
  justify-content: space-between;
}
.page-title {
  font-family: 'Oleo Script', cursive;
  margin: 0;
  display: flex;
  padding: 16px;
  color: #fff;
  transition: color 0.4s ease-in-out;
}
.page-title:hover {
  color: #f52500;
}
.nav-wrap-account {
  display: flex;
  align-items: center;
}
.link-account {
  font-weight: bold;
  padding: 0 8px;
  height: 100%;
  display: inline-flex;
  align-items: center;
}
.link-account:hover,
.link-account.active {
  background-color: #f52500;
}
.basket-wrap {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
  padding: 0 12px 0 8px;
  transition: background-color 0.2s ease;
}
.basket-wrap:hover,
.basket-wrap.active {
  background-color: #f52500;
}
.basket-wrap:hover .basket-number,
.basket-wrap.active .basket-number {
  background-color: #fff;
  color: #f52500;
}
.basket-icon {
  position: relative;
  top: 4px;
  width: 42px;
  height: ;
  fill: #fff;
}
.basket-number {
  font-size: 12px;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  display: inline-block;
  text-align: center;
  line-height: 1.7;
  font-weight: 900;
  right: 4px;
  top: 16px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background-color: #f52500;
  color: #fff;
}
.container-nav {
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 1160px) {
  .container-nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.nav {
  background-color: #303030;
}
.nav-link {
  color: #fff;
  padding: 16px;
  font-weight: bold;
  display: flex;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}
.nav-link:hover,
.nav-link.active {
  background-color: #f52500;
}
@media all and (max-width: 1160px) {
  .nav-link {
    width: auto;
  }
}
.container-pages {
  text-align: center;
}
.main-title {
  font-family: 'Oleo Script', cursive;
  font-size: 32px;
  margin: 0;
}
.pages {
  font-size: 14px;
  width: 28px;
  display: inline-block;
  text-align: center;
  padding: 4px;
  margin: 4px;
  background-color: #303030;
  color: #fff;
  font-weight: 900;
  border-radius: 4px;
}
.pages.active {
  background-color: #f52500;
}
.main-thumbnails {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  align-items: stretch;
  grid-row-gap: 16px;
}
.container-thumb {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}
@media all and (max-width: 1160px) {
  .container-thumb {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (max-width: 760px) {
  .container-thumb {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 540px) {
  .container-thumb {
    grid-template-columns: repeat(1, 1fr);
  }
}
.thumbnails {
  height: 350px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #878b91;
  display: inline-block;
  padding: 16px;
  display: grid;
  grid-template-rows: max-content 1fr min-content;
}
.thumbnails:hover {
  box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.3);
}
.thumbnails:hover .price {
  opacity: 0.8;
}
.thumbnails .img-wrap {
  position: relative;
}
.thumbnails img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin: auto;
  display: block;
}
.thumbnails .price {
  opacity: 0;
  font-weight: bold;
  width: 150px;
  font-size: 16px;
  color: #fff;
  background-color: #303030;
  display: block;
  text-align: center;
  padding: 8px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 75px);
}
.thumbnails h3 {
  font-weight: 900;
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 4px;
  margin-bottom: 4px;
  align-self: center;
}
.thumbnails h3.small {
  font-size: 14px;
}
.thumbnails .wrap-button {
  display: flex;
  justify-content: center;
}
.thumbnails .button {
  all: unset;
  font-family: 'Oleo Script', cursive;
  padding: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: #fff;
}
.thumbnails .button.more {
  background-color: #f82d00;
  margin-right: 8px;
}
.thumbnails .button.buy {
  background-color: #303030;
}
.modal {
  width: 90vw;
  max-width: 1102px;
  min-height: 400px;
  max-height: 80vh;
  background-color: #fff;
  position: fixed;
  margin: auto;
  top: 18vh;
  left: 0;
  right: 0;
  display: flex;
  transform: translateY(-100vh);
  opacity: 0;
  z-index: 20;
  box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.5);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow-y: auto;
}
.modal.show {
  transform: translateY(0);
  opacity: 1;
}
.cover {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
}
.cover.show {
  display: block;
}
.loading {
  display: inline-block;
  width: 128px;
  height: 128px;
  border: 6px solid rgba(245,37,0,0.3);
  border-radius: 50%;
  border-top-color: #f52500;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  margin: auto;
}
.product-detail.grid {
  display: block;
  width: 100%;
  padding: 32px;
}
.product-detail a {
  text-decoration: underline;
}
@-moz-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.main-basket {
  display: flex;
}
.container-basket,
.main-login {
  min-height: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.3);
  padding: 32px;
}
.basket .item-grid {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}
.basket .title {
  text-align: center;
  font-family: 'Oleo Script', cursive;
  font-size: 32px;
  margin: 0;
  line-height: 0.8;
}
.basket .img-wrap {
  position: relative;
  margin-right: 16px;
}
.basket .img {
  width: 112.5px;
  height: 150px;
  object-fit: cover;
  display: block;
}
.basket .price {
  font-weight: bold;
  width: 112.5px;
  font-size: 16px;
  color: #fff;
  background-color: #303030;
  display: block;
  text-align: center;
  padding: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}
.basket .item-title {
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 16px;
}
.basket .separator {
  margin: 16px 0;
}
.basket .total-wrap {
  display: grid;
  grid-template-rows: 1fr min-content min-content;
}
.basket .item-quantity {
  text-align: right;
}
.basket .item-total {
  text-align: right;
  display: block;
}
.basket .button,
.basket .button-more,
.basket .button-less,
.basket .button-remove,
.basket .button-back,
.basket .button-back-center,
.basket .button-confirm {
  color: #fff;
  font-weight: 900;
  padding: 8px;
}
.item-button-wrap {
  display: flex;
  align-items: center;
}
.basket .button-more,
.basket .button-less {
  width: 24px;
  height: 24px;
  padding: 0;
  text-align: center;
  background-color: #303030;
  z-index: 20;
  font-size: 14px;
  display: inline-block;
  line-height: 1.6;
}
.basket .button-more {
  margin-left: -14px;
}
.basket .button-less {
  margin-right: -14px;
}
.basket .button-remove {
  font-size: 20px;
  background-color: #f82d00;
  z-index: 10;
  font-family: 'Oleo Script', cursive;
  padding: 12px 20px;
  line-height: 1;
}
.button-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 8px;
}
.basket .button-back,
.basket .button-back-center {
  background-color: #f82d00;
  font-size: 24px;
  font-family: 'Oleo Script', cursive;
}
.basket .button-back-center {
  display: block;
  width: min-content;
  white-space: nowrap;
  margin: 0 auto;
  margin-top: 32px;
}
.basket .button-confirm {
  background-color: #303030;
  font-size: 24px;
  font-family: 'Oleo Script', cursive;
}
.basket .total-price {
  text-align: right;
  font-size: 24px;
}
/*# sourceMappingURL=style.css.map */